body{
  background-color: yellowgreen;
}
button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 50px;

}

table {
  border-collapse: collapse;
  width: 100%;
  height: fit-content;
  color: royalblue;
  height: 100%;

}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}


/* src/index.css */

/* Styles for the img element in the Home component */
img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #888888;
}

